VYNODE_PUBLIC_URL=http://127.0.0.1:7171
VYNODE_MASTER_KEY=replace-with-output-from-openssl-rand-base64-32
VYNODE_CONFIG_PATH=./config
VYNODE_MEDIA_PATH=./media
VYNODE_TRUST_PROXY=false
PUID=99
PGID=100
